body {
    font-family: Arial, sans-serif;
    background-color: #63e7c656;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #f4dfdf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 220px; 
}

h2 {
    text-align: center;
}

.quiz-question {
    display: none;
    margin-bottom: 20px;
}

.quiz-question.active {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #1419ae;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.active {
    display: block;
}
